
.message_not_authorized {
    width: 100%;
    text-align: center;    
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
