:host {
    table {
        width: 100%;
    }

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }

    td, th {
        width: 25%;
    }

    .container-store {
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }    


    //Custom style datasource for columns

    .mat-column-id {
        width: 10%;
        font-weight: bold;                    
    }

    .mat-column-name {                
        width: 20%;
    }      

    .mat-column-description {        
        text-align: justify;
        width: 40%;
        padding-right: 2rem;
    }      
      
    .mat-column-price{                
        width: 15%;        
    }     

    .mat-column-amount {                
        width: 15%;
    }     



    //Custom style datasource for rows

    .mat-row .mat-cell {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: pointer;
    }
      
    .mat-row:hover .mat-cell {
        border-color: blue;
    }

    
}