<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </p>

            <div *ngIf="form?.invalid && (form?.touched || form?.dirty) && username?.errors?.['required']" class="error">
                Username is required!                    
            </div>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="on">
                </mat-form-field>
            </p>

            <div *ngIf="form?.invalid && (form?.touched || form?.dirty) && password?.errors?.['required']" class="error">                     
                Password is required!                                                
            </div>
            
            <div class="button">
                <button type="submit" mat-button [disabled]="form.invalid">Login</button>
            </div>

            <error [error]="error?.errorCode"></error>

        </form>
    </mat-card-content>
</mat-card>