/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-form-field-flex {
    background-color: transparent;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important;
}


.message_page_error {
    width: 100%;
    text-align: center;    
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
